---
page_title: "Provider: tfvars"
subcategory: ""
description: |-
  Terraform provider for managing variable definitions (.tfvars) files.
---

# Tfvars Provider

Terraform provider for managing variable definitions (`.tfvars`) files.

## Example Usage

{{tffile "examples/provider/provider.tf"}}
